body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

pre,
code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
  font-weight: 100;
  background-color: #ddd;
  border-radius: 3px;
}

pre {
  overflow-x: hidden;
}

a {
  color: $terracota-600;
  font-weight: 600;
  text-decoration: none;
  background-image: linear-gradient(to top, $terracota-50, $terracota-50 1px, rgba(0, 0, 0, 0) 3px);
  cursor: pointer;
  &:hover {
    text-decoration: none;
    background-color: #fff6f2;
  }
}

p {
  margin-bottom: 1.125rem;
  + h2 {
    margin-top: 3rem;
  }
}

ul {
  border-left: 4px solid $terracota-50;
  background-color: #fff6f2;
  padding-top: .6rem;
  padding-bottom: .6rem;
  + h2 {
    margin-top: 3rem;
  }
  li + li { padding-top: .3rem }
}

/*
TEXT
*/
.l-text {
  font-size: 18px;
}
.m-text {
  font-size: 14px;
}
.s-text {
  font-size: 12px;
}

strong,
.bold {
  font-weight: 600;
}
em,
.italic {
  font-style: italic;
}
.caps {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.underline {
  text-decoration: underline;
}
.underline-hover:hover {
  text-decoration: underline;
}

/*
  TITLE
 */
.title--main {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Playfair Display';
  color: #E06A3F;
  margin-bottom: 0.5rem;
  line-height: 1em;
}

.title--secondary {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.code {
  font-family: 'Source Code Pro', Consolas, monospace;
}

h1 { @extend .title--main }
h2, h3, h4 { @extend .subtitle }

/*
Alignement
*/
.left-align {
  text-align: left;
}
.center {
  text-align: center;
}
.right-align {
  text-align: right;
}
.justify {
  text-align: justify;
}
.sm-center {
  @media screen and (max-width: 40rem) {
    text-align: center;
  }
}

@media screen and (max-width: 40em) {
  .title--main {
    font-size: 2rem;
  }

  .title--secondary {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }
}

